@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-content {
  height: 30em;
  width: 75em;
}

.img {
  margin-bottom: 1em;
  margin-left: .5em;
  cursor: pointer;
}

.moviesTitle{
  font-weight: lighter;
  padding: 1em 1.05em;
  text-align: center;
}
